*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e9e9e9;
  padding-top: 100px;
}

.container {
  max-width: 600px;
  background: #f1f1f1;
  margin: 0 auto;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.container::after {
  content: "";
  display: block;
  clear: both;
}


img {
  width: 1000px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 0 10px 5px 0;
}
